<h1><%= @sorted_data[0]["title"]%></h1>

<p>
This <%= @sorted_data[0]["genre"] %> movie was made by <%= @sorted_data[0]["studio"]%> in <%= @sorted_data[0]["year"]%>.
</p>
<p><%= @sorted_data[0]["synopsis"]%></p>


